<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <inbox.Properties.Settings>
            <setting name="DefaultBackground" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="DefaultText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="DefaultButton" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="GreenBackground" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="GreenText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="GreenButton" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ReedBackground" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="ReedText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="ReedButton" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="UsingBackground" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="UsingText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="UsingButton" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="CustomBackGround" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="CustomText" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="CustomButton" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="PopServer" serializeAs="String">
                <value>pop.gmail.com</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="PopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>steffenhobo@gmail.com</value>
            </setting>
            <setting name="SSL" serializeAs="String">
                <value>True</value>
            </setting>
        </inbox.Properties.Settings>
    </userSettings>
</configuration>